* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(5, 5, 5);
  color: white;
  justify-content: center;
  align-items: center;
}
html {
}
.container {
  display: flex;
  flex-direction: row;
  width: 960px;
  aspect-ratio: 1/1;
  border: 1px solid white;
  margin: 0.9rem auto;
  flex-wrap: wrap;
}
.grid__block {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  float: left;
  border: 0px solid white;
  transition: all 0.3s ease-in-out;
}
#grid-button {
  position: absolute;
  left: 5%;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}
